header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    color: white;
}

.stack-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title {
    text-decoration: underline;
    font-size: 20px;
}

#name {
    font-weight: bold;
    font-size: 24px;
}

.icon {
    max-width: 24px;
    margin: 10px;
    border-radius: 3px;
}

@media (min-width : 960px) {

    #name {
        font-size: 36px;
        font-weight: bold;
    }

    #title {
        font-size: 28px;
    }

    .icon {
        max-width: 36px;
        margin: 10px;
        border-radius: 3px;
    }
}